header{
  height: 30px;
  background-color: #1d1d1d;
  color: white;
  padding: 30px 10px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

}

h1{
  text-align: center;
  margin-bottom: 35px;
}

.itemsContainer{
  display: grid;
  place-items: center;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px 1px rgba(0,0,0,0.2);
  padding: 50px 10px;
}

.itemsContainer .item{
  max-width: 250px;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px 1px rgba(0,0,0,0.2);
}

.item img{
  width: 100%;
}

